@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* All similar section starts from here */

section {
  padding: 100px 0;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: black;
  font-family: "Ubuntu", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 3px;
  background: blue;
  transform: translateX(-50%);
}

section h1 {
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: blue;
  font-family: "Ubuntu", sans-serif;
}

/* navbar styling */

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar {
  /* .sticky */
  padding: 15px 0;
  background: white;
}

.navbar .logo a {
  font-size: 30px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: blue;
}

.navbar .logo p {
  font-family: "Open Sans", sans-serif;
  color: blue;
  font-size: 15px;
  margin-left: -12px;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: blue;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .sticky .menu li a:hover {
  color: #fff;
}

/* dropdown button starts from here */
.dropdown {
  position: relative;
  display: inline-block;
  transition: all 0.4s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.4s ease;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  transition: all 0.4s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* menu btn styling */
.menu-btn {
  color: black;
  background-color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Styling slide show */

.mySlides {
  display: none;
}

.mySlides > img {
  vertical-align: bottom;
}

/* slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* The dots / bullets / indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.slideActive {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Owl carousel starts from here */
.carousel-wrapper {
  width: 100%;
}
.carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

.carousel .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.carousel-title {
  color: gray;
  border-top: 4px solid blue;
  padding-top: 15px;
  padding-bottom: 10px;
}

.carousel .top-left {
  position: absolute;
  background-color: blue;
  color: white;
  padding: 5px;
  left: 0px;
  top: 0px;
}

.carousel .card h2 {
  color: orange;
  margin-top: -40px;
  padding-bottom: 10px;
}

.owl-dots {
  text-align: center;
  margin-top: 40px;
}
.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover {
  background: #0072bc !important;
}

/* responsive section starts from here */

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: white;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .dropdown-content {
    margin-left: 30px;
  }
}

@media (max-width: 892px) {
  .dropdown-content {
    margin-left: 230px;
  }
}

@media (max-width: 700px) {
  .dropdown-content {
    margin-left: 0px;
  }
}

@media (max-width: 616px) {
  .navbar .logo a {
    font-size: 25px;
  }

  .navbar .logo p {
    font-size: 12px;
    margin-left: -8px;
  }
}
